:root {
  --background: #212121;
  --sidebar: #171717;
  --selected-sidebar: #232323;
  --layer: #1c1c1c;
  --user: #303030;
  --button: #303030;
  --button-hover: #404040;
  --text: #ffffff;
  --subtext: #999999;
  --link: #7ab7ff;
  --link-hover: #5e83b3;
  --utility: #272727;
  --low-strength: #ff0000;
  --medium-strength: #ffff00;
  --high-strength: #00ff00;
}

::-webkit-scrollbar-thumb {
  background: #555555;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888888;
}
