:root {
  --background: #212121;
  --sidebar: #171717;
  --selected-sidebar: #232323;
  --topbar: #1c1c1c;
  --user: #303030;
  --button: #303030;
  --button-hover: #404040;
  --text: #ffffff;
  --subtext: #999999;
}
