:root {
  --background: #ffffff;
  --sidebar: #f4f4f4;
  --selected-sidebar: #dedede;
  --layer: #fafafa;
  --user: #efefef;
  --button: #efefef;
  --button-hover: #d8d8d8;
  --text: #000000;
  --subtext: #666666;
  --link: #2964aa;
  --link-hover: #749ac8;
  --utility: #f8f8f8;
  --low-strength: #cc0000;
  --medium-strength: #edd307;
  --high-strength: #00c400;
}

::-webkit-scrollbar-thumb {
  background: #888888;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
}
