.button {
  background: color-mix(in srgb, var(--button) 75%, transparent);
  position: fixed;
  left: 50%;
  margin-left: calc(275px / 2);
  border-radius: 50%;
  border: 3px solid #ffffff;
  width: 50px;
  height: 50px;
  z-index: 5;
  cursor: pointer;
  transform: translateX(-50%);
}

.button img {
  height: 30px;
  width: 30px;
  transform: translateY(5%);
}
