.newchatarea {
  padding-top: 100px;
}

.newchatarea h1 {
  font-weight: normal;
  font-size: 36px;
}

.newchatarea .chatname {
  font-family: ui-sans-serif, system-ui, Segoe UI, Helvetica, Apple Color Emoji, Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
  background-color: var(--user);
  color: var(--text);
  width: 480px;
  padding: 25px;
  border: none;
  border-radius: 25px;
  font-size: 20px;
  text-align: center;
}
